{% extends "accounts/_notab.html" %}

{% load display_sound %}
{% load tags %}

{% block title %}{% if home %}home{% else %}{{user.username}}{% endif %}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="https://openlayers.org/en/v3.18.2/css/ol.css" type="text/css">
<style>
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
    </style>
    <script src="https://openlayers.org/en/v3.18.2/build/ol.js"></script>
{% endblock head %}

{% block tab_home_active %}{% if home %}active_tab{% endif %}{% endblock %}
{% block tab_people_active %}{% if not home %}active_tab{% endif %}{% endblock %}

{% block section_content %}

    <script type="text/javascript">

        function follow_user() {
            $("#follow_button").attr("disabled", "disabled");
            $("#follow_user_error_message").hide();
            $.ajax({
                type: 'POST',
                url: '{{ follow_user_url }}',
                success: function() {
                    $("#follow_button").removeAttr("disabled");
                    location.reload();
                },
                error: function(data) {
                    $("#follow_button").removeAttr("disabled");
                    $("#follow_user_error_message").show();
                    window.setTimeout(function(){
                        $("#follow_user_error_message").fadeOut(200);
                    }, 3000);
                }
            });
        }

        function unfollow_user() {
            $("#follow_button").attr("disabled", "disabled");
            $("#follow_user_error_message").hide();
            $.ajax({
                type: 'POST',
                url: '{{ unfollow_user_url }}',
                success: function() {
                    $("#follow_button").removeAttr("disabled");
                    location.reload();
                },
                error: function(data) {
                    $("#follow_button").removeAttr("disabled");
                    $("#follow_user_error_message").show();
                    window.setTimeout(function(){
                        $("#follow_user_error_message").fadeOut(200);
                    }, 3000);
                }
            });
        }

    </script>

    {% if home %}

        <h1>Home</h1>

        <div id="account_info_left">
            <img src="{{user.profile.locations.avatar.L.url}}" class="account_avatar" />
        </div>

        <div class="account_information_and_home_options">
        <ul>
            <li><a href="{% url "account" user.username %}">View</a> your public profile</li>
            <li><a href="{% url "accounts-edit" %}">Edit</a> your public profile</li>
            <li><a href="{% url "accounts-describe" %}">Describe</a> your sounds</li>
            <li><a href="{% url "accounts-attribution" %}">Attribution</a> - the sounds you downloaded</li>
            {% if perms.tickets.can_moderate %}
                <li><a href="{% url "tickets-moderation-home" %}">Moderate sounds</a> - {{ new_tickets_count }} new sound{{ new_tickets_count|pluralize}}</li>
            {% endif %}
            {% if perms.forum.can_moderate_forum %}
                <li><a href="{% url "forums-moderate" %}">Moderate posts</a> - {{ new_posts }} new post{{ new_posts|pluralize}} </li>
            {% endif %}
            {% if user.profile.num_sounds %}
                <li><a href="{% url "comments-for-user" user.username %}">All comments</a> on your sounds</li>
            {% endif %}
            <li>Your <a href="{% url "bookmarks-for-user" user.username %}">bookmarks</a></li>
            <li>Activity <a href="{% url "stream" %}">stream</a></li>
            {% comment %}<li>Your sound uploads <a href="{% url "accounts-pending" %}">pending moderation</a></li>{% endcomment %}
        </ul>
        </div>
        <br style="clear: both;" />
        <br>
    {% else %}

        <h1>{{user.username}}</h1>

		{% if user.profile and not user.profile.is_deleted_user %}

            <div id="account_info_left">

                <img src="{{user.profile.locations.avatar.L.url}}" class="account_avatar" />

                {% if request.user.is_authenticated %}
                    {# don't allow a user to follow himself/herself #}
                    {% if user.username != request.user.username  and not show_unfollow_button %}
                        <a href="javascript:void(0)" id="follow_link" onclick="follow_user()"><button type="button" id="follow_button">Follow</button></a>
                    {% endif %}

                    {# show unfollow button instead if current page of user is being followed by logged in user already #}
                    {% if show_unfollow_button %}
                        <a href="javascript:void(0)" id="follow_link" onclick="unfollow_user()"><button type="button" id="follow_button">Unfollow</button></a>
                    {% endif %}
                {% endif %}

                <div id="follow_user_error_message">An error occurred,<br/> please try again.</div>

            </div>
            <div class="account_information_and_home_options">
            <ul>
                <li><a href="{% url "messages-new" user.username %}">Send a private message to this user</a></li>
                {% if user.profile.home_page %}
                <li>Home page: <a href="{{user.profile.home_page}}" rel="nofollow">{{user.profile.home_page}}</a></li>
                {% endif %}
                <li>Has been a user for {{user.date_joined|timesince}}</li>
                {% if user.profile.num_sounds %}
                <li>Number of sounds: {{user.profile.num_sounds}}
                {% endif %}
                {% if user.profile.num_posts %}
                <li>Number of forum posts: {{user.profile.num_posts}}</li>
                {% endif %}
                <li><a href="{% url "user-downloaded-sounds" user.username %}">Sounds downloaded</a> by {{user.username}}</li>
                <li><a href="{% url "user-downloaded-packs" user.username %}">Packs downloaded</a> by {{user.username}}</li>
                {% if user.profile.num_sounds %}
                <li><a href="{% url "comments-for-user" user.username %}">All comments</a> on {{user.username}}'s sounds</li>
                {% endif %}
                {% if has_bookmarks %}
                <li><a href="{% url "bookmarks-for-user" user.username %}">Bookmarks</a> by {{user.username}}</li>
                {% endif %}
                {% if perms.tickets.can_moderate %}
                    <li class="separator">Moderators only links</li>
                    <li>Uploaded sounds <a href="{% url "tickets-user-pending_sounds" user.username %}">pending moderation ({{ num_sounds_pending_count }})</a></li>
                    <li><a href="{% url "forums-search" %}?f=post_author:%22{{ user.username }}%22">All forum posts</a> by {{ user.username }}</li>
                    <li><a href="{% url "comments-by-user" user.username %}">All comments</a> by {{ user.username }}</li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li class="separator">Admin only links</li>
                    <li><a id="admin_link" class="icon" href="{% url "admin:auth_user_change" user.id %}">Edit user in the admin</a></li>
                {% endif %}

            </ul>
            </div>
            <br style="clear: both;" />
            {% if user.profile.about %}
                <div class="about">
                    {{user.profile.about|safe|linebreaksbr }}
                </div>
            {% endif %}
            <br>
        {% endif %}
    {% endif %}

<div id="content">
    {% if latest_sounds %}
        <div id="latest_sounds" class="content_box">
            <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} latest sounds</h3>
            {% for sound in latest_sounds %}
                    {% display_raw_sound sound %}
            {% endfor %}
            <p><a href="{% url "sounds-for-user" user.username %}?page={% if home %}1{% else %}2{% endif %}">more...</a></p>
        </div>
    {% else %}
        <div id="latest_sounds" class="content_box">
            <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} latest sounds</h3>
            <p>
            {% if home %}You have not uploaded any sounds...
            {% else %}{{ user.username }} has not uploaded any sounds...
            {% endif %}</p>
        </div>

    {% endif %}
    {% if home %}
        {% if unmoderated_sounds %}
            <div id="unmoderated_sounds" class="content_box">
                <h3>Uploaded sounds awaiting moderation ({{ unmoderated_sounds_count }})</h3>
                {% for ticket, sound in unmoderated_sounds %}
                    <li><span class="filename">{{sound.original_filename}}</span>, uploaded on <span class="date">{{sound.created}}</span> <span class="ticket_link"><a href="{% url "tickets-ticket" ticket.key %}">Go to ticket</a></span></li>
                {% endfor %}
                {% if num_more_unmoderated_sounds > 0 %}
                    <li> And {{ num_more_unmoderated_sounds }} other uploaded sound{{ num_more_unmoderated_sounds|pluralize}}
                {% endif %}

            </div><!-- #unmoderated_sounds -->
            <p style='margin-left:20px'><a href="{% url "accounts-pending" %}">more...</a></p>

        {% endif %}


        {% if unprocessed_sounds %}
        <div id="unprocessed_sounds" class="content_box">
            <h3>Uploaded sounds that have not been processed yet ({{ unprocessed_sounds.count }})</h3>

            {% comment %}
            <p>Sounds in this list have not been processed yet and thus can't be moderated. This might be because they are still pending to process or because processing has failed.</p>
            {% endcomment %}

            {% for sound in unprocessed_sounds %}
                <li>
                    <span class="filename">{{sound.original_filename}}</span>, uploaded on <span class="date">{{sound.created}}</span>
                {% if sound.processing_state == 'PE' %}
                    <span class="pending">Processing state: Pending</span>
                {% else %}
                    {% if sound.processing_state == 'QU' %}
                        <span class="queued">Processing state: Queued</span>
                    {% else %}
                        {% if sound.processing_state == 'FA' %}
                            <span class="failed">Processing state: Failed</span>
                        {% else %}
                            {% if sound.processing_state == 'PR' %}
                                <span class="processing">Processing state: Processing</span>
                            {% else %}
                                Processing state: {{sound.processing_state}}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <a href="{% url "sound-delete" sound.user.username sound.id %}" >x</a>
                </li>
            {% endfor %}

        </div><!-- #unprocessed_sounds -->
        {% endif %}
    {% endif %}

</div><!-- #content -->

<div id="sidebar">

    {% if tags %}
        <div id="user_most_used_tags" class="content_box">
            <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} most used tags</h3>
            <p class="user_tagcloud">
            {% for tag in tags|add_sizes:"True:0.5:2.5" %}<span style="font-size:{{tag.size}}em"><a href="{% url "tags" tag.name %}">{{tag.name}}</a></span> {% endfor %}
            </p>
        </div><!-- #user_most_used_tags -->
    {% endif %}

    {% if following or followers or following_tags %}

        <div id="social" class="content_box">

            <h3>Following users and tags</h3>

            {% if following %}
                {% if home %}
                    <h3>Users you are following ({{ following_count}})</h3>
                {% else %}
                    <h3>Users {{ user.username }} is following ({{ following_count}})</h3>
                {% endif %}

                <ul>
                    {% for suser in following %}
                        <a href="{% url "account" suser %}" title="{{suser}}"><img src="{{suser.profile.locations.avatar.M.url}}" alt="avatar" /></a>
                    {% endfor %}
                </ul>
                <p><a href="{% url "user-following-users" user %}">more...</a></p>
            {% endif %}

            {% if followers %}
                {% if home %}
                    <h3>Users that are following you ({{ followers_count}})</h3>
                {% else %}
                    <h3>Users that are following {{ user.username }} ({{ followers_count}})</h3>
                {% endif %}

                <ul>
                    {% for suser in followers %}
                        <a href="{% url "account" suser %}" title="{{suser}}"><img src="{{suser.profile.locations.avatar.M.url}}" alt="avatar" /></a>
                    {% endfor %}
                </ul>
                <p><a href="{% url "user-followers" user %}">more...</a></p>
            {% endif %}

            {% if following_tags %}
                <div id="following_tags">
                    {% if home %}
                        <h3>Tags you are following ({{ following_tags_count }})</h3>
                    {% else %}
                        <h3>Tags {{ user.username }} is following ({{ following_tags_count }})</h3>
                    {% endif %}
                    <ul>
                        {% for space_tags, slash_tags, split_tags in following_tags %}
                            <span class="tag_group" onclick="location.href='{% url "tags" slash_tags %}'">
                            <ul class="tags" id="following_tags">
                            {% for tag in split_tags %}
                                {% comment %}<li><a href="{% url "tags"tag %}">{{ tag }}</a></li>{% endcomment %}
                                <li><a>{{ tag }}</a></li>
                                {% comment %}<li>{{ tag }}</li>{% endcomment %}
                            {% endfor %}
                            </ul></span>
                        {% endfor %}
                    </ul>
                    <p><a href="{% url "user-following-tags" user %}">more...</a></p>
                </div>
            {% endif %}

        </div>

    {% endif %}

    <div id="latest_geotags" class="content_box">
        <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} latest geotags</h3>
        <div id="map_canvas"></div>
        <div id="map-popup" class="ol-popup">
          <a href="#" id="map-popup-closer" class="ol-popup-closer"></a>
          <div id="map-popup-content"></div>
        </div>
        <script type="text/javascript">
           var container = document.getElementById('map-popup');
           var content = document.getElementById('map-popup-content');
           var closer = document.getElementById('map-popup-closer');

            var vectorSource = new ol.source.Vector({
                  //create empty vector
            });
            var nSounds = 0;

            ajaxLoad('{% url "geotags-for-user-latest-json" user.username %}', function(data, responseCode)
            {
                $.each($.parseJSON(data.response), function(index, item)
                {
                    var id = item[0];
                    var lat = item[1];
                    var lon = item[2];
                    nSounds = nSounds + 1;

                    var iconFeature = new ol.Feature({
                      geometry: new ol.geom.Point(ol.proj.transform([lon, lat], 'EPSG:4326','EPSG:3857')),
                      //name: 'Null Island ' + i,
                      //population: 4000,
                      //rainfall: 500
                      fsId: id});
                    vectorSource.addFeature(iconFeature);
              });


              // Show map div if sounds in it
                if (nSounds > 0) {
                  $("#latest_geotags").show();
                  //google.maps.event.trigger(map, 'resize');
              }

              //create the style
              var iconStyle = new ol.style.Style({
                image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                  anchor: [0.5, 46],
                  anchorXUnits: 'fraction',
                  anchorYUnits: 'pixels',
                  opacity: 0.75,
                  src: 'https://www.pragueeventscalendar.com/src/templates/images/web/marker_icon.png'
                }))
              });



              //add the feature vector to the layer vector, and apply a style to whole layer
              var vectorLayer = new ol.layer.Vector({
                source: vectorSource,
                style: iconStyle
              });

              var overlay = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
                element: container,
                autoPan: true,
                autoPanAnimation: {
                  duration: 250
                }
              }));

              closer.onclick = function() {
                overlay.setPosition(undefined);
                closer.blur();
                return false;
              };

              var map = new ol.Map({
                layers: [new ol.layer.Tile({ source: new ol.source.OSM() }), vectorLayer],
                target: document.getElementById('map_canvas'),
                interactions: ol.interaction.defaults({mouseWheelZoom:false}),
                overlays: [overlay],
                view: new ol.View({
                  center: [0, 0],
                  zoom: 3
                })
              });
              if (vectorLayer.getSource().getFeatures().length > 0) {
                map.getView().fit(vectorSource.getExtent(), map.getSize());
              }



              map.on("click", function(e) {
                    map.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                            //do something
                        stopAll();
                        ajaxLoad( '/geotags/infowindow/' + feature.get('fsId'), function(data, responseCode){
                          content.innerHTML = data.response;                         
                          overlay.setPosition(e.coordinate);
                          setTimeout(function() {
                              makePlayer('.infowindow_player .player');
                          }, 500);
                      });
                    })
              });
            });
        </script>
        <p><a href="{% url "geotags-for-user" user.username %}">more...</a></p>
    </div><!-- #latest_geotags -->


    {% if latest_packs %}
    <div id="latest_packs" class="content_box">
        <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} latest packs</h3>
        <ul>
        {% for pack in latest_packs %}
            <li><a href="{% url "pack" user.username pack.id %}">{{pack.name}}</a> (<span class="pack_count">{{pack.num_sounds}}</span>)</li>
        {% endfor %}
        </ul>
        <p><a href="{% url "packs-for-user" user.username %}">more...</a></p>
    </div><!-- #latest_packs -->
    {% endif %}

    {% if home %}
        {% if packs_without_sounds %}
        <div id="unmoderated_packs" class="content_box">
            <h3>Non visible packs</h3>
            <p>This list contains packs that are empty or packs whose sounds are unmoderated or unprocessed.</p>
            <ul>
            {% for pack in packs_without_sounds %}
                <li><a href="{% url "pack" user.username pack.id %}">{{pack.name}}</a>, created on <span class="date">{{pack.created}}</span></li>
            {% endfor %}
            <ul>
        </div><!-- #unmoderated_packs -->
        {% endif %}
    {% endif %}
</div><!-- #sidebar -->
<br class="clear"/><!-- Need a clearing element for some reason here.. -->
{% endblock %}
